.coverImage{
  width: auto;
  height: 55%;
}

.tagline{
  color:white;	
  font-size: 500%;
  font-family: 'Montserrat';
  line-height: auto;
  font-weight: 800;
  text-align: right;

}

.test2{
  height: auto;

}

.test3{
  width:100%;
}

.test4{
  padding-right: auto;
  padding-left: auto;
  margin-right: auto;
  margin-left: auto;
}
.test5 {
    padding-right: auto;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
}

.customButton{
  color: #4E67EB;
  font-size: 200%;
  font-family: 'Montserrat';
  line-height: auto;
  font-weight: 600;
  text-align: center;
}

.body{
  padding-left:3%;
  padding-right:3%;
}

.HeaderBg{
  background-image: url("../images/snug_harbor2.png");
  background-size: cover;
  box-shadow: inset -600px 0 100px -10px rgba(0,0,0,0.5  );

}


.lineupL{
  text-align: center;
  padding-left: 100px;
}

.lineupR{
  text-align: center;
  padding-right: 100px;
}

.runningWoman{
  width: 50%;
  height: auto;
  display: inline-block;
}

.subheader{
  padding-top: 20px;
  color: blue;	
  font-size:  250%;
  font-family: 'Montserrat';
  line-height: auto;
  font-weight: 600;
  text-align: center;
}

.subheader_text{
  
  color: gray;	
  font-size: 150%;
  font-family: 'Montserrat';
  line-height: auto;
  font-weight: 100;
  text-align: center;
  line-height: .98;
  padding-left: 50px;
  padding-right: 50px;
}

.adCon{
  padding-top: 100px;
  padding-bottom: 100px;
  font-size: 200%;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 800;
}

.footer{
  background-color: gray;
  padding: 100px;
}

.artgirl{
  max-height: 400px;
}

.Row1{
  padding-bottom: 50px;
}


.Row2{
  padding-bottom: 25px;
}